

* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

section {
    display: flex;
    justify-content: center;
}

.quiz-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: 70%;
}

.quiz-header {
    padding: 10px 0px;
    font-size: 36px;
}

.quiz-footer {
    color: gray;
    font-style: italic;
    border-top: solid 2px gray;
    flex: 1 100%;
    
}